<div [formGroup]="form" class="col-12 mt-2">
    <label [attr.for]="control.key" [ngClass]="{'invalid-input-label': !isValid}">{{control.label}}</label>
  
    <ng-container [ngSwitch]="control.controlType">
  
      <input *ngSwitchCase="'TEXT'" 
      [formControlName]="control.key" 
      class="form-control"
      [id]="control.key" 
      [type]="$any(control)?.type"
      [(ngModel)]="control.value" 
      [ngClass]="{'invalid-input': !isValid}">
  
      <!-- <select *ngSwitchCase="'DROP_DOWN'" 
      [id]="control.key"
      [formControlName]="control.key"
      [ngClass]="{'invalid-input': !isValid}"
      class="form-control">
        <option *ngFor="let opt of $any(control)?.options" [ngValue]="opt.key">{{opt.value}}</option>
      </select> -->

      <select *ngSwitchCase="'GENERIC_DROP_DOWN'" 
      [id]="control.key"
      [formControlName]="control.key"
      [ngClass]="{'invalid-input': !isValid}"
      [multiple]="$any(control).multiple?true:false"
      [size]="$any(control).dropDownSize"
      [compareWith]="$any(control).compareWith"
      (change)="$any(control).onChange(control.value)"
      [(ngModel)]="control.value"
      class="form-control">
        <option *ngFor="let opt of $any(control)?.options" 
        [ngValue]="opt[$any(control).bindValue]? opt[$any(control).bindValue]: opt">
          {{opt[$any(control).bindLabel]}}
          <!-- {{$any(control).multiple}} -->
        </option>
      </select>
  
    </ng-container>
  
    <div class="errorMessage" *ngIf="!isValid">{{control.label}} is required</div>
  </div>