<div [formGroup]="form" class="col-12 mt-1">
    <label [attr.for]="control.key" [ngClass]="{'invalid-input-label': control.invalid}">{{control.label}}</label>
  
    <ng-container [ngSwitch]="control.controlType">
  
      <input *ngSwitchCase="CONTROL_TYPES.TEXT" 
      [formControlName]="control.key" 
      class="form-control"
      [id]="control.key" 
      [type]="$any(control)?.type"
      [value]="control.value"
      [formControl]="control"
      [ngClass]="{'invalid-input': control.invalid}">

      <!-- <input *ngSwitchCase="CONTROL_TYPES.DATE" 
      [formControlName]="control.key" 
      class="form-control"
      [id]="control.key" 
      [type]="$any(control)?.type"
      [min]="$any(control)?.minDate"
      [max]="$any(control)?.maxDate"
      [(ngModel)]="control.value"
      [ngClass]="{'invalid-input': !isValid}"> -->
      <ng-container *ngSwitchCase="CONTROL_TYPES.SELECT">

        <select  *ngIf="!$any(control).multiple"
        [id]="control.key"
        [formControlName]="control.key"
        [ngClass]="{'invalid-input': control.invalid}"
        [size]="$any(control).dropDownSize"
        [compareWith]="$any(control).compareWith"
        (change)="$any(control).onChange(control)"
        [formControl]="control"
        class="form-control">
          <option *ngFor="let opt of $any(control)?.options" 
          [ngValue]="$any(control).bindValue? opt[$any(control).bindValue]: opt">
            {{opt[$any(control).bindLabel]}}
          </option>
        </select>

        <select  *ngIf="$any(control).multiple"
        [id]="control.key"
        [formControlName]="control.key"
        [ngClass]="{'invalid-input': control.invalid}"
        multiple
        [size]="$any(control).dropDownSize"
        [compareWith]="$any(control).compareWith"
        (change)="$any(control).onChange(control)"
        [formControl]="control"
        class="form-control">
          <option *ngFor="let opt of $any(control)?.options" 
          [ngValue]="$any(control).bindValue? opt[$any(control).bindValue]: opt">
            {{opt[$any(control).bindLabel]}}
          </option>
        </select>
      </ng-container>
  
      

      <input *ngSwitchCase="CONTROL_TYPES.CHECKBOX" 
      [formControlName]="control.key" 
      class="form-check-input ml-2"
      [id]="control.key" 
      type="checkbox"
      [formControl]="control"
      [ngClass]="{'invalid-input': control.invalid}">
  
    </ng-container>
  
    <div class="error-div-height errorMessage">
        {{control.invalid? (control.label + 'is required'): ''}} </div>
  </div>